@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --bs-success-rgb:169, 146, 255;
  --bs-font-sans-serif:"Nunito",sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-light-rgb: 97, 142, 123;


}

.btn-light{
  background: pink;
}